<h1>Project#name</h1>

 <form action="projects/create" method="post">
Name <input type="text" name="name" />

Description <input type="text" name="Description" />
<input type="submit" name="commit" value="Create Project">
</form>

